.navbar-brand img{
    width: 60px;
}
.navbar-brand{
    padding: 0;
    margin: 0;
}
.search-div{
    background-color: #ebebeb;
}

form button{
    background: #00a900  !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

}
[type="search"]:focus{
   border: 0; 
   box-shadow: none;
}